<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353606365624-cqhn5esfehgrvkmj0idq7o2oevg5vth4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353606365624-cqhn5esfehgrvkmj0idq7o2oevg5vth4</string>
	<key>API_KEY</key>
	<string>AIzaSyDvZV5gYOtOnFJD31RPCvpHhoVMfokvbw4</string>
	<key>GCM_SENDER_ID</key>
	<string>353606365624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bufeotec.bufiApp</string>
	<key>PROJECT_ID</key>
	<string>bufi-db3c3</string>
	<key>STORAGE_BUCKET</key>
	<string>bufi-db3c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353606365624:ios:de625399ec0b7a70a7df4d</string>
</dict>
</plist>